
<div class="sidebar">
    <div class="company-info">
        <img src="caminho/para/sua/imagem-da-empresa.jpg" alt="Logo da Empresa">
        <h2>Nome da Empresa</h2>
    </div>
    <div class="sidebar-options">
        <button id="btn-list-customer-service-sb">Ver Histórico de Atendimento</button>
        <button id="btn-list-service-sb">Ver Listagem de Serviços</button>
        <button id="btn-list-client-sb">Ver Listagem de Clientes</button>
        <button>Ver Listagem de Estoque</button>
    </div>
</div>