<div class="cadastro-atendimento">
    <form id="atendimentoForm">
        <label for="cliente">Cliente:</label>
        <select id="cliente" name="cliente">
        </select>

        <label for="servicos">Serviços:</label>
        <select id="servicos" name="servicos" multiple>
        </select>

        <label for="estoque">Estoque:</label>
        <select id="estoque" name="estoque" multiple>
        </select>

        <button id="gerarPDF" type="button">Finalizar atendimento e Gerar PDF</button>
    </form>
</div>
<script>
    


</script>