.main{
    display: flex
}

.main-content {
    height: 100vh;
    width: -webkit-fill-available;
}
.main-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-center{
    display: flex;
    flex-direction: column;
    margin: 36px;
}
.container-title{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}